body{
    font-family: 'Roboto', sans-serif;
    background-color: slateblue;
}

.main-login{
    width: 100vw;
    height:100vh;
    display:flex;
    flex-direction: row;
    overflow:hidden;
}

.content-section{
    background-color:#ffe866;
    width:60vw;
    height: 100vh;;
}

.login-header{
    margin-bottom:20px;
}

.login-box{
    display:flex;
    flex-direction: column;
    width:30vw;
    height:100vh;
    padding:60px;
    padding-top:70px;
}

.input-box{
    border: solid 1px #000;
    width: 230px;
    background-color: white;
    color: #000;
    padding: 2px;
    border-radius: 10px;
}


.main-button{
    margin-top:40px;
    width:80%;
    background-color: #ffe001;
    padding:15px;
    font-weight: 700;
    font-size: 14px;
    border-radius:10px;
    border-width: 0px;
    cursor: pointer;
    display: block;
}

.main-button:hover{
    background-color: rgb(255, 208, 0);
}

.hand{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    display: block;
}

.create-new{
    color:gray;
    font-size: 12px;
    margin-top:25px;
    cursor: pointer;
}

.auth-section{
    display:flex;
    flex-direction: column;
    transition: all 0.3s;
    position: absolute;
    opacity: 1;
    visibility: visible;
    width: 400px;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

.error-message{
    color:red;
    font-weight: 700;
    padding:20px;
    margin:5px;
    margin-left: 0px;
    background-color: rgb(255, 239, 239);
    border-radius: 10px;
    display: none;
}

.success-message{
    color:green;
    font-weight: 700;
    padding:20px;
    margin:5px;
    margin-left: 0px;
    background-color: rgb(234, 255, 234);
    border-radius: 10px;
    display: none;
}

.homepage{
    width:50vw;
    padding:100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    font-weight: 700;
}

.homepage-subtitle{
    font-size: 36px;
}

.logout-button{
    font-size: 30px;
}
.homepage a{
    text-decoration: none;
}
