{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Welcome {{user}}</title>
{% endblock head %}
{% block body %}
<div class="container-main">
<p id="welcome-page"><span class='header'>Welcome, <span id='user'>{{user}}!</span></span>
<br>
You are successfully authenticated 
<a href="/logout"><button class="log-button logout-button" id="logOutBtn">Log out</button></a></p>
<div>
{% endblock body %}
