{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Log in</title>
{% endblock head %}
{% block body %}
<!-- log in section -->
<div class='container-main'>
    <div id="logIn" class="auth-section">
        <h1 class="header">Log in to your account</h1>
        <div class="error-message"></div>
        <div class="success-message"></div>

        <!-- username -->  
        <div class='input-box'>
            <input type="text" placeholder="Username" 
                class="input" name="username" autocomplete="off">
        </div>
        
        <!-- password -->
        <div class='input-box'>
            <input type="password" placeholder="Password" class="input" name="password">
        </div>

        <button class="log-button" id="logInButton">
            <div class="button-inner">Log in</div>
        </button>
        <a id="createAccountLink" class="create-new">Create account</a>

    </div>
    <!-- sign up section -->
    <div id="signUp" class="auth-section hide">
        <h1 class="header">Create new account</h1>
        <div class="error-message"></div>
        <div class="success-message"></div>

        <!-- username -->  
        <div class='input-box'>
            <input type="text" placeholder="Username" 
                class="input" name="sign_username" autocomplete="off">
        </div>
        
        <!-- email -->
        <div class='input-box' id="email-box">
            <input type="email" placeholder="Email" class="input" name="sign_email">
        </div>
        
        <!-- password -->
        <div class='input-box'>
        <input type="password" placeholder="Password" class="input" name="sign_password">
        </div>
        
        <button class="log-button" id="signUpButton">
            <div class="button-inner">Sign up</div>
        </button>
        <a id="loginLink" class="create-new">Log in</a>
    </div>
<div>
{% endblock body %}
