body{
    font-family: 'Roboto', sans-serif;
    background-color: #05668D;
    padding: 10px 20px;
    color: rgb(44, 44, 44);
}



.header{
    margin-bottom:20px;
    font-size: 30px;
}


.input{
    border: solid 1px #000;
    width: 250px;
    background-color: white;
    color: #000;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 15px;
    
}


.log-button{
    margin-top:20px;
    min-width: 100px;
    background-color: #97B6CE;
    padding:10px;
    font-weight: 700;
    font-size: 14px;
    border-radius:10px;
    border-width: 0px;
    cursor: pointer;
    display: block;
    overflow: auto;
}

.log-button:hover{
    background-color: #427AA1;
}


.create-new{
    position: relative;
    left: 130px;
    bottom: 60px;
    margin-top:20px;
    width: 120px;
    background-color: #97B6CE;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    border-radius:10px;
    border-width: 0px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.create-new:hover{
    background-color: #427AA1;
}

.container-main{
    position: relative;
    width: 350px;
    height:500px;
    background-color: mintcream;
    overflow: auto;
    border-radius: 20px;
}

.auth-section{
    transition: all 0.2s;
    position: absolute;
    margin: 30px;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

.error-message{
    font-weight: 350;
    margin: 5px 0px;
    width: 250px;
    display: none;
    font-size: 14px;
    color: darkred;
}

.success-message{
    font-weight: 350;
    margin: 5px 0px;
    width: 250px;
    display: none;
    font-size: 14px;
    color: darkgreen;
}

#welcome-page{
    margin: 20px;
}

#user{
    color: #427AA1;
}